@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  border-radius: 6px;
}

.playing-bar {
  width: 3px;
  height: 3px;
  margin-right: 3px;
  background: rgb(110, 210, 183);
  border-radius: 1.5px;
}

.bar-left {
  animation-duration: 0.85s !important;
}

.bar-mid {
  animation-duration: 1.26s !important;
}

.bar-right {
  animation-duration: 0.62s !important;
}

.animate-playing {
  animation: playing 0s ease 0s infinite;
}

@keyframes playing {
  0%,
  100% {
    height: 3px;
  }
  50% {
    height: 12px;
  }
}
